<section class="container-fluid info py-5">
	<div class="container">
		<div class="row justify-content-center">
			<h2 class="info__title col-12 col-md-6 text-center">SEO-оптимизация</h2>
		</div>
		<div class="row justify-content-center">
			<p class="info__text col-12 col-md-10 text-center fs-5">Следующий шаг после создания веб-сайта – продвижение в поисковых системах. В России главные поисковые машины – Яндекс и Гугл, мы предлагаем SEO для обеих. Вам не нужно пытаться понять все сложности поискового продвижения, - этим займёмся мы!
			</p>
		</div>
		<div class="row justify-content-center">
			<p class="info__text col-12 col-md-10 text-center  fs-5">Выведение сайта в «топ» поисковиков – длительный процесс, который требует специальных знаний. Зато результат даст вам множество ценных преимуществ:
			</p>
		</div>
		<div class="row">
			<div class="info__card d-flex flex-wrap gap-2 gap-md-5">
				<div class="info__item card">
					<div class="card-body">
						<p class="card-text">Привлечение «тёплых» клиентов, нуждающихся в вашем продукте</p>
					</div>
				</div>
				<div class="info__item card">
					<div class="card-body">
						<p class="card-text">Оптимизацию интерфейса сайта (он станет более удобным)</p>
					</div>
				</div>
				<div class="info__item card">
					<div class="card-body">
						<p class="card-text">Нахождение новых рынков сбыта ваших товаров/услуг</p>
					</div>
				</div>
				<div class="info__item card">
					<div class="card-body">
						<p class="card-text">Появление дополнительных клиентов, а значит – рост продаж</p>
					</div>
				</div>
				<div class="info__item card">
					<div class="card-body">
						<p class="card-text">В отличие от контекстной рекламы, эффект от SEO – длительный</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>