<section class="top container-fluid p-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 col-xl-6">
				<h1 class="fs-1 fw-bold my-4">Продвижение сайта (SEO)</h1>
				<h3 class="fs-3 fw-bold my-4">Поднимаем ваши сайты с самого дна поисковых систем от 19.900 руб/месяц</h3>
				<h4 class="fs-4 fw-bold my-4">Число запросов для SEO продвижения не ограничено</h4>
				<h4 class="fs-4 fw-bold my-4">Гарантии результата — в договоре</h4>
				<button type="button" class="btn btn-info fs-4 fw-bold my-4 py-3">Заказать услугу</button>
			</div>
		</div>
	</div>
</section>