<section class="approach container-fluid my-5 py-5">
	<!--APPROACH TITLE-->
	<div class="container">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">
				<h2 class="approach__title mb-4 fs-2 fw-bolder text-center">Делаем только нужное</h2>
				<p class="approach__subtitle fs-3 text-center text-muted text-uppercase">100% белый подход</p>
			</div>
		</div>
	</div>
	<!--APPROACH ITEMS-->
	<div class="container">
		<div class="row gap-5 d-flex align-items-stretch justify-content-center">
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/leads-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/leads.png">
						<img src="img/seo/leads.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Продвижение сайта в top</h3>
				<p class="approach__item-text p-3">Принципиальная позиция «Велес Диджитал» - наполнение сайта такими текстами,
					чтобы они нравились и
					поисковым
					системам, и людям. Ведь вкладываться в продвижение сайта есть смысл, только когда он интересен привлечённым
					через поисковик посетителям.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/online-marketing-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/online-marketing.png">
						<img src="img/seo/online-marketing.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Продвижение сайта в яндексе и гугле недорого
				</h3>
				<p class="approach__item-text p-3">«Велес Диджитал» понимает, что ваш бизнес должен приносить выгоду. Цена за
					продвижение сайта в
					яндексе (или
					гугле) в топ 10 устанавливается таким образом, чтобы вы легко её отбили за счёт роста продаж через сайт. Мы
					не берём «рекламной наценки».</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/screen-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/screen.png">
						<img src="img/seo/screen.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Создание и продвижение сайтов
				</h3>
				<p class="approach__item-text p-3">Сео-продвижение уже существующего сайта, о котором у поисковых машин имеется
					сложившееся «мнение» - только один из вариантов. Гораздо интересней и выгодней заказать комплекс услуг:
					создание и продвижение сайта. Мы успешно продвигаем и раскручиваем как «старые», так и «новые» сайты.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/seo-keyword-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/seo-keyword.png">
						<img src="img/seo/seo-keyword.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Ручной сбор семантического ядра
				</h3>
				<p class="approach__item-text p-3">Кропотливо вручную собираем запросы, по которым нужно продвигать ваш сайт. В
					отбор идут только те запросы, которые приведут на сайт потенциальных клиентов. Сайт будет с первых дней
					существования заполняться «правильными» текстами, которые постепенно выведут его в топ одной или обеих
					поисковых систем.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/seo-analytics-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/seo-analytics.png">
						<img src="img/seo/seo-analytics.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Аналитика и отчетность
				</h3>
				<p class="approach__item-text p-3">Ежемесячно анализируем позиции в поисковых системах, а также трафик и
					поведение пользователей на вашем сайте. Предоставляем отчёты о проделанной работе, формируем дальнейшие
					рекомендации.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/app-design-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/app-design.png">
						<img src="img/seo/app-design.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Глубокая оптимизация сайта
				</h3>
				<p class="approach__item-text p-3">Проводим технический аудит, выявляем уязвимые места сайта, находим ошибки,
					проблемы. Составляем план работ на несколько месяцев. Осуществляем переработку сайта. Проводим его техническую
					оптимизацию, изменяем содержимое сайта. При необходимости меняем структуру разделов/подразделов.</p>
			</article>
		</div>
	</div>
</section>