<section class="block container py-5">
	<!--BLOCK ABOUT TITLE-->
	<div class="row d-flex justify-content-center justify-content-lg-between gap-3 mt-3">
		<article class="col-10 col-md-8 col-lg-3 block__card d-flex flex-column align-items-center">
			<img src="img/arrow-clockwise.svg" class="block__img my-4" alt="CHANGE">
			<h3 class="fw-bold mb-2 mb-sm-4 ms-2 fs-5 text-center text-sm-start">Ваш сайт никто не посещает и заявок — по
				нулям?</h3>
			<ul class="block__list mb-5 me-2">
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Исправим это недоразумение, потому что мы опытная команда
					— в этой теме с 2004 года</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Ставим чёткие цели, применяем современные подходы к
					продвижению сайтов</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Используем гибкие методы к ведению проектов Agile и Scrum
					чтобы быть максимально эффективными</li>
			</ul>
		</article>
		<article class="col-10 col-md-8 col-lg-3 block__card d-flex flex-column align-items-center">
			<img src="img/wrench.svg" class="block__img my-4" alt="FIX">
			<h3 class="fw-bold mb-2 mb-sm-4 ms-2 fs-5 text-center text-sm-start">Сайт работает плохо и выглядит
				непривлекательно?</h3>
			<ul class="block__list mb-4 me-2">
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Чиним и воскрешаем нерабочие сайты, вдыхаем в них жизнь
				</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Решаем задачи не с точки зрения программистов, а с точки
					зрения бизнеса: со всей отдачей погружаемся в нишу, анализируем рынок, изучаем конкурентов</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> В процессе работы делаем только нужное и важное</li>
			</ul>
		</article>
		<article class="col-10 col-md-8 col-lg-3 block__card d-flex flex-column align-items-center">
			<img src="img/emoji-frown.svg" class="block__img my-4" alt="BAD EXECUTOR">
			<h3 class="fw-bold mb-2 mb-sm-4 ms-2 fs-5 text-center text-sm-start">Уже связывались с недобросовестными
				"СЕОшниками"?</h3>
			<ul class="block__list mb-4 me-2">
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Разговариваем на понятном языке без сложных терминов</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> Технический коллектив расположен в Белоруссии, что
					позволяет предложить вам доступную цену наряду с высоким качеством выполняемых работ</li>
				<li class="my-2"><span class="fs-3 lh-1">&bull;</span> В отчётах предоставляем исключительно факты, без воды
				</li>
			</ul>
		</article>
	</div>
</section>