<section class="faq container-fluid my-0 py-5">
<!--FAQ TITLE-->
<div class="review__head container my-5">
	<div class="row flex-column justify-content-center align-items-center">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
			<h2 class="review__title fs-2 fw-bolder text-center">Часто задаваемые вопросы</h2>
		</div>
	</div>
</div>
<!--FAQ INFO-->
<div class="container mb-5">
	<div class="row gap-0 gap-md-2 justify-content-center justify-content-lg-between">
		<!--FAQ ITEM #1-->
		<article class="faq__article col-12 col-sm-10 col-md-5 pt-5 py-md-5 px-1 px-lg-5">
			<div class="accordion accordion-flush" id="faq-1">
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headOne">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-One" aria-expanded="false" aria-controls="faq-1-One">
							Как быстро мой сайт попадёт в ТОП?
						</button>
					</h2>
					<div id="faq-1-One" class="accordion-collapse collapse" aria-labelledby="faq-1-headOne" data-bs-parent="#faq-1">
						<div class="accordion-body">Чёткий ответ с ходу дать невозможно. Потому что для начала нужно тщательно проанализировать исходное состояние конкретно вашего сайта, все его существенные составляющие, которые учитываются роботом при ранжировании сайта в выдаче. А это целый комплекс мероприятий, который начинается с анализа технического состояния сайта и заканчивается анализом коммерческих факторов. Однако уже после одного-двух месяцев работы с сайтом можно будет дать предварительный и более конкретный прогноз. И на основе этого прогноза выстроить подходящую именно для вашего сайта стратегию продвижения, чтобы сайт попал в ТОП как можно быстрее.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headTwo">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-Two" aria-expanded="false" aria-controls="faq-1-Two">
							Какие даёте гарантии, что мой сайт попадёт в ТОП?
						</button>
					</h2>
					<div id="faq-1-Two" class="accordion-collapse collapse" aria-labelledby="faq-1-headTwo" data-bs-parent="#faq-1">
						<div class="accordion-body">В SEO отсутствуют универсальные инструменты. Здесь нельзя всех под одну гребёнку. Ведь каждый сайт уникальный, обладает разным набором исходных данных. Поэтому к каждому ресурсу всегда применяется индивидуальный подход. Мы можем дать вам некие гарантии и информацию о сроках попадания ресурса в ТОП только после тщательного предварительного анализа вашего сайта. По-другому никак.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headThree">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-Three" aria-expanded="false" aria-controls="faq-1-Three">
							Как скоро ко мне начнут поступать заказы от клиентов?
						</button>
					</h2>
					<div id="faq-1-Three" class="accordion-collapse collapse" aria-labelledby="faq-1-headThree" data-bs-parent="#faq-1">
						<div class="accordion-body">Главная задача SEO – обеспечить трафик из поисковых систем непосредственно на ваш сайт. Этот трафик – пока всего лишь потенциальные ваши клиенты. Чтобы клиенты из потенциальных перешли в разряд реальных, здесь уже большую роль играет маркетинг (ваши цены на товар или услуги по сравнению с конкурентами, непосредственная работа ваших менеджеров и т.д.). То есть SEO ставит перед собой цель максимально увеличить качественный поток трафика на ваш ресурс. А дальше включаться в работу должны факторы, которые больше зависят не от нас, а от вашей маркетинговой стратегии, УТП (уникального торгового предложения), банальной вежливости и компетентности ваших сотрудников и т.д. 

							Однако, без изначально качественного трафика на ваш сайт, не будет шанса и для всех вышеперечисленных действий. Поэтому SEO продвижение сайта жизненно необходимо для каждого бизнеса, который хочет развиваться и уверенно побеждать конкурентов.</div>
					</div>
				</div>
			</div>
		</article>
		<!--FAQ ITEM #2-->
		<article class="faq__article col-12 col-sm-10 col-md-5 pb-5 py-md-5 px-1 px-lg-5">
			<div class="accordion accordion-flush" id="faq-2">
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headOne">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-One" aria-expanded="false" aria-controls="faq-2-One">
							Сколько времени необходимо заниматься SEO продвижением сайта?
						</button>
					</h2>
					<div id="faq-2-One" class="accordion-collapse collapse" aria-labelledby="faq-2-headOne" data-bs-parent="#faq-2">
						<div class="accordion-body">SEO можно сравнить с ремонтом. Начав, закончить сложно. Всегда будут «всплывать» уязвимые места, где можно ещё что-то улучшить, подправить, подкорректировать. А с учётом того, что поисковые системы периодически обновляют, добавляют новые требования для сайтов, и ваши предприимчивые конкуренты в это время тоже не дремлют, то в некоторых случаях требуется и вовсе полная смена стратегии продвижения. Однако, когда основной объём работы будет выполнен, останется только поддерживать высокие позиции вашего сайта, вовремя реагируя на всякие нововведения, изменения и внося соответствующие необходимые корректировки.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headTwo">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-Two" aria-expanded="false" aria-controls="faq-2-Two">
							Что лучше: SEO или контекстная реклама?
						</button>
					</h2>
					<div id="faq-2-Two" class="accordion-collapse collapse" aria-labelledby="faq-2-headTwo" data-bs-parent="#faq-2">
						<div class="accordion-body">SEO, в отличие от контекстной рекламы, не даёт моментального результата. SEO ориентировано на ближайшую перспективу, зато контекстная реклама позволяет быстро увеличить трафик. Но это довольно дорогое удовольствие. Поэтому мы предлагаем вам тарифный план "SEO + Контекст". Это комплексная, выгодная, эффективная, логичная система продвижения SEO + контекстная реклама. Настраиваем и запускаем контекстную рекламу, пока SEO набирает обороты.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headThree">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-Three" aria-expanded="false" aria-controls="faq-2-Three">
							Сколько стоит один клик контекстной рекламы?
						</button>
					</h2>
					<div id="faq-2-Three" class="accordion-collapse collapse" aria-labelledby="faq-2-headThree" data-bs-parent="#faq-2">
						<div class="accordion-body">Стоимость клика в рекламе зависит от многих факторов. Основной из них – уровень конкуренции. Чем больше компаний размещают рекламу по определенному запросу, тем дороже будет клик. Например, в Москве клик по запросу "купить окно ПВХ" будет на порядок дороже чем клик по запросу "услуги по чистке ковров" в Кемерово.</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
</section>