<footer class="footer container-fluid py-5">
	<div class="container">
		<div class="row justify-content-between align-items-end">
			<!-- LOGO -->
			<div class="col-12 col-sm-6">
				<a class="footer__logo-img navbar-brand d-block mb-3" href="#">
					<img src="img/logo.png" alt="LOGOTYPE">
				</a>
				<ul class="footer__contact navbar-nav d-flex flex-column">
					<li class="footer__contact-item mb-2">
						<a href="mailto:info@velesdigital.ru" class="footer__contact-link w-100 d-flex  align-items-center"
							target="_blank">
							<img src="img/envelope-fill.svg" alt="EMAIL">
							<span class="ps-2 fw-bolder">info@velesdigital.ru</span>
						</a>
					</li>
					<li class="footer__contact-item  mb-2">
						<a href="tel:+79219616651" class="footer__contact-link  w-100 d-flex  align-items-center">
							<img src="img/telephone-fill.svg" alt="PHONE">
							<span class="ps-2 fw-bolder">+7 (921) 961-66-51</span>
						</a>
					</li>
					<li class="footer__contact-item ">
						<a href="https://yandex.ru/maps/-/CCUQnOwf0A" class="footer__contact-link  w-100 d-flex  align-items-center">
							<img src="img/building.svg" alt="OFICCE">
							<span class="ps-2 fw-bolder">г. Кемерово, пр-кт Кузнецкий 115А</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- SOCIAL BUTTONS -->
			<div class="col-12 col-sm-6 mt-4 mt-sm-0">
				<ul
					class="footer__social navbar-nav d-flex flex-row justify-content-between justify-content-sm-end">
					<li class="pe-3 footer__social-item">
						<a href="https://vk.com/veles_digital" class="footer__social-link" target="_blank">
							<img src="img/vk.svg" alt="VKONTACTE" srcset="">
						</a>
					</li>
					<li class="pe-3 footer__social-item">
						<a href="https://www.instagram.com/veles_digital/" class="footer__social-link" target="_blank">
							<img src="img/instagram.svg" alt="INSTAGRAM" srcset="">
						</a>
					</li>
					<li class="pe-3 footer__social-item">
						<a href="https://www.youtube.com/channel/UCyFEgZL5xCdFG8e9yQ_zIRg" class="footer__social-link"
							target="_blank">
							<img src="img/youtube.svg" alt="YOUTUBE" srcset="">
						</a>
					</li>
					<li class="pe-3 footer__social-item">
						<a href="https://telegram.me/vyacheslav_it" class="footer__social-link" target="_blank">
							<img src="img/telegram.svg" alt="TELEGRAM" srcset="">
						</a>
					</li>
					<li class="footer__social-item">
						<a href="https://api.whatsapp.com/send?phone=+79219616651" class="footer__social-link" target="_blank">
							<img src="img/whatsapp.svg" alt="WHATSAPP" srcset="">
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</footer>