<header class="header container-fluid fixed-top border-bottom shadow-lg">
	<nav class="header__nav navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<!-- LOGO -->
			<a class="header__logo-img navbar-brand d-block order-2 order-sm-1" href="#">
				<img src="img/logo.png" alt="LOGOTYPE">
			</a>
			<!-- MENU -->
			<button class="navbar-toggler order-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="header__menu collapse navbar-collapse order-4 order-lg-2" id="navbarNav">
				<ul class="navbar-nav fs-4 fw-bolder">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#info">SEO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#procedure">Услуги</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#price">Тарифы</a>
					</li>
				</ul>
			</div>
			<!-- SOCIAL BUTTONS -->
				<ul class="header__social navbar-nav d-flex flex-row flex-grow-1 flex-sm-grow-0 justify-content-between order-1 order-sm-2 order-lg-3 ms-auto me-3 me-lg-0">
					<li class="pe-3 header__social-item">
						<a href="mailto:info@velesdigital.ru" class="header__social-link" target="_blank">
							<img src="img/envelope-fill.svg" alt="EMAIL" srcset="">
						</a>
					</li>
					<li class="pe-3 header__social-item">
						<a href="tel:+79219616651" class="header__social-link">
							<img src="img/telephone-fill.svg" alt="PHONE" srcset="">
						</a>
					</li>
					<li class="pe-3 header__social-item fw-bold">
						<span>|</span>
					</li>
					<li class="pe-3 header__social-item">
						<a href="https://vk.com/veles_digital" class="header__social-link" target="_blank">
							<img src="img/vk.svg" alt="VKONTACTE" srcset="">
						</a>
					</li>
					<li class="pe-3 header__social-item">
						<a href="https://www.instagram.com/veles_digital/" class="header__social-link" target="_blank">
							<img src="img/instagram.svg" alt="INSTAGRAM" srcset="">
						</a>
					</li>
					<li class="pe-3 header__social-item">
						<a href="https://www.youtube.com/channel/UCyFEgZL5xCdFG8e9yQ_zIRg" class="header__social-link" target="_blank">
							<img src="img/youtube.svg" alt="YOUTUBE" srcset="">
						</a>
					</li>
					<li class="pe-3 header__social-item">
						<a href="https://telegram.me/vyacheslav_it" class="header__social-link" target="_blank">
							<img src="img/telegram.svg" alt="TELEGRAM" srcset="">
						</a>
					</li>
					<li class="header__social-item">
						<a href="https://api.whatsapp.com/send?phone=+79219616651" class="header__social-link" target="_blank">
							<img src="img/whatsapp.svg" alt="WHATSAPP" srcset="">
						</a>
					</li>
				</ul>
		</div>
	</nav>
</header>