<section id="price" class="price container-fluid my-5 py-5">
	<!--PRICE TITLE-->
	<div class="price__head container h-100 mb-4">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="price__title mb-4 fs-2 fw-bolder text-center">Тарифы</h2>
				<p class="price__subtitle fs-3 text-center">Выберите оптимальный пакет услуг</p>
			</div>
		</div>
	</div>
	<!--PRICE INFO-->
	<div class="price__items container">
		<div class="row gap-2 justify-content-center justify-content-lg-between">
			<div class="table-responsive">
				<table class="price__table table table-striped table-hover table-sm">
					<thead>
						<tr class="price__table-tr">
							<th class="price__table-th align-middle" scope="col">№</th>
							<th class="price__table-th w-50 align-middle" scope="col">Перечень работ</th>
							<th class="price__table-th w-25 text-center align-middle" scope="col">SEO</th>
							<th class="price__table-th w-25 text-center align-middle" scope="col">SEO + Контекст</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-warning">
							<th class="price__table-td" scope="row"></th>
							<td class="price__table-td">Цена</td>
							<td class="price__table-td text-center align-middle">9 900 руб.</td>
							<td class="price__table-td text-center align-middle">19 900 руб.</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">1</th>
							<td class="price__table-td">SEO Аудит</td>
							<td class="price__table-td text-center align-middle">+</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">2</th>
							<td class="price__table-td">Составление стратегии SEO-оптимизации</td>
							<td class="price__table-td text-center align-middle">+</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">3</th>
							<td class="price__table-td">Анализ и переработка контента</td>
							<td class="price__table-td text-center align-middle">+</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">4</th>
							<td class="price__table-td">Улучшение, исправление, оптимизация технических характеристик сайта</td>
							<td class="price__table-td text-center align-middle">+</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">5</th>
							<td class="price__table-td">Анализ и оптимизация работы в поисковых системах Яндекс/Google</td>
							<td class="price__table-td text-center align-middle">+</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row">6</th>
							<td class="price__table-td">Настройка рекламы в Яндекс.Директ и Google Ads</td>
							<td class="price__table-td text-center align-middle">&mdash;</td>
							<td class="price__table-td text-center align-middle">+</td>
						</tr>
						<tr>
							<th class="price__table-td" scope="row"></th>
							<td class="price__table-td"></td>
							<td class="price__table-td text-center align-middle">
								<button type="button" class="btn btn-warning fw-bold py-2 my-1" data-bs-toggle="modal"
									data-bs-target="#orderService">Заказать услугу</button>
							</td>
							<td class="price__table-td text-center align-middle">
								<button type="button" class="btn btn-warning  fw-bold py-2 my-1" data-bs-toggle="modal"
									data-bs-target="#orderService">Заказать услугу</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>