<section class="procedure container-fluid my-5 py-5">
	<!--PROCEDURE TITLE-->
	<div class="procedure__info container h-100">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="procedure__title fs-2 fw-bolder text-center">Работы, которые мы делаем по договору</h2>
				<p class="procedure__subtitle fs-3 text-center">В рамках SEO продвижения вашего сайта</p>
			</div>
		</div>
	</div>
	<!--PROCEDURE ITEMS-->
	<div class="procedure__items container">
		<div class="row">
			<article class="procedure__item col-4 bg-light p-0 px-3 pb-3 border-2 rounded">
				<div class="accordion accordion-flush" id="accordion_1">
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_One">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#item-1_collapseOne" aria-expanded="false" aria-controls="item-1_collapseOne">
								<img src="img/check2-square.svg" alt="icon" class="w-25 h-25 me-2 ms-0">
								<span>1. Анализ тематической ниши бизнеса</span>
							</button>
						</h2>
						<div id="item-1_collapseOne" class="accordion-collapse collapse" aria-labelledby="item-1_One" data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ специфики деятельности клиента</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ сайтов конкурентов в тематической нише</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ возраста сайтов лидеров тематической ниши</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Сопоставление сайтов лидеров тематической ниши с продвигаемым сайтом</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Two">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#item-1_collapseTwo" aria-expanded="false" aria-controls="item-1_collapseTwo">
								<img src="img/check2-square.svg" alt="icon" class="w-25 h-25 me-2 ms-0">
								<span>2. Работа с семантическим ядром сайта</span>
							</button>
						</h2>
						<div id="item-1_collapseTwo" class="accordion-collapse collapse" aria-labelledby="item-1_Two" data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2"><span class="fs-2 lh-1">&bull;</span> Анализ структуры продвигаемого сайта
									</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Сбор семантического ядра по приоритетным направлениям</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ уровня конкурентности запросов семантического ядра</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ частотности запросов семантического ядра</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ типов страниц сайтов лидеров по запросам в поисковых системах</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Кластеризация подобранных запросов</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Распределение ключевых запросов по страницам</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Three">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#item-1_collapseThree" aria-expanded="false" aria-controls="item-1_collapseThree">
								<img src="img/check2-square.svg" alt="icon" class="w-25 h-25 me-2 ms-0">
								<span>3. Анализ основных значимых показателей</span>
							</button>
						</h2>
						<div id="item-1_collapseThree" class="accordion-collapse collapse" aria-labelledby="item-1_Three" data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2"><span class="fs-2 lh-1">&bull;</span> Анализ сайта на наличие санкций со стороны поисковых систем Яндекс и Google
									</li>
									<li class="mb-1"><span class="fs-2 lh-1">&bull;</span> Анализ индекса качества сайта и сравнение с лидерами тематической ниши</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>