<section id="procedure" class="procedure container-fluid my-5 py-5">
	<!--PROCEDURE TITLE-->
	<div class="procedure__info container h-100">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="procedure__title fs-2 fw-bolder text-center">Работы, которые мы делаем по договору</h2>
				<p class="procedure__subtitle fs-3 text-center">В рамках SEO продвижения вашего сайта</p>
			</div>
		</div>
	</div>
	<!--PROCEDURE ITEMS-->
	<div class="procedure__items container">
		<div class="row gap-2 justify-content-center justify-content-lg-between">
			<!--PROCEDURE ITEM #1-->
			<article class="procedure__item col-12 col-sm-10 col-lg-3 bg-light p-0 px-3 pb-3 border-2 rounded">
				<div class="accordion accordion-flush" id="accordion_1">
					<!--PROCEDURE ITEM #1 COLLAPSE #1-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_One">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-1_collapseOne" aria-expanded="false"
								aria-controls="item-1_collapseOne">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">1. Анализ тематической ниши бизнеса</span>
							</button>
						</h2>
						<div id="item-1_collapseOne" class="accordion-collapse collapse" aria-labelledby="item-1_One"
							data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-1">Анализ специфики деятельности клиента</li>
									<li class="mb-1">Анализ сайтов конкурентов в тематической нише
									</li>
									<li class="mb-1">Анализ возраста сайтов лидеров тематической
										ниши</li>
									<li class="mb-1">Сопоставление сайтов лидеров тематической ниши
										с продвигаемым сайтом</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #1 COLLAPSE #2-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Two">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-1_collapseTwo" aria-expanded="false"
								aria-controls="item-1_collapseTwo">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">2. Работа с семантическим ядром сайта</span>
							</button>
						</h2>
						<div id="item-1_collapseTwo" class="accordion-collapse collapse" aria-labelledby="item-1_Two"
							data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ структуры продвигаемого сайта
									</li>
									<li class="mb-1">Сбор семантического ядра по приоритетным
										направлениям</li>
									<li class="mb-1">Анализ уровня конкурентности запросов
										семантического ядра</li>
									<li class="mb-1">Анализ частотности запросов семантического ядра
									</li>
									<li class="mb-1">Анализ типов страниц сайтов лидеров по запросам
										в поисковых системах</li>
									<li class="mb-1">Кластеризация подобранных запросов</li>
									<li class="mb-1">Распределение ключевых запросов по страницам
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #1 COLLAPSE #3-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Three">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-1_collapseThree" aria-expanded="false" aria-controls="item-1_collapseThree">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">3. Анализ основных значимых показателей</span>
							</button>
						</h2>
						<div id="item-1_collapseThree" class="accordion-collapse collapse" aria-labelledby="item-1_Three"
							data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ сайта на наличие санкций со стороны
										поисковых систем Яндекс и Google
									</li>
									<li class="mb-1">Анализ индекса качества сайта и сравнение с
										лидерами тематической ниши</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #1 COLLAPSE #4-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Four">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-1_collapseFour" aria-expanded="false" aria-controls="item-1_collapseFour">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">4. Установка и настройка систем веб-аналитики Яндекс.Метрика и панели
									Вебмастер</span>
							</button>
						</h2>
						<div id="item-1_collapseFour" class="accordion-collapse collapse" aria-labelledby="item-1_Four"
							data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Установка и настройка целей в системе сбора статистики
									</li>
									<li class="mb-1">Добавление сайта в панель Яндекс.Вебмастер</li>
									<li class="mb-1">Актуализация логинов, на которые предоставлен доступ</li>
									<li class="mb-1">Проверка наличия санкций в разделе «Нарушения»</li>
									<li class="mb-1">Установка главного зеркала сайта</li>
									<li class="mb-1">Установка региона сайта (согласно региону продвижения)</li>
									<li class="mb-1">Проверка настройки уведомлений о важных страницах сайта</li>
									<li class="mb-1">Проверка валидации и добавление sitemap.xml в Яндекс.Вебмастер</li>
									<li class="mb-1">Анализ и настройки организаций в Яндекс.Справочнике</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #1 COLLAPSE #5-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-1_Five">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-1_collapseFive" aria-expanded="false" aria-controls="item-1_collapseFive">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">5. Установка и настройка систем веб-аналитики Google Analytics и панели
									Вебмастер</span>
							</button>
						</h2>
						<div id="item-1_collapseFive" class="accordion-collapse collapse" aria-labelledby="item-1_Five"
							data-bs-parent="#accordion_1">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Добавление сайта в панель Google Webmaster
									</li>
									<li class="mb-1">Актуализация логинов, на которые предоставлен доступ</li>
									<li class="mb-1">Установка главного зеркала сайта</li>
									<li class="mb-1">Проверка валидации и добавление sitemap.xml в Google Webmaster</li>
									<li class="mb-1">Анализ истории индексации сайта в панели вебмастера</li>
									<li class="mb-1">Анализ и настройки организаций на Google Картах</li>
									<li class="mb-1">Установка либо настройка системы сбора статистики Google Analytics</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!--PROCEDURE ITEM #2-->
			<article class="procedure__item col-12 col-sm-10 col-lg-3 bg-light p-0 px-3 pb-3 border-2 rounded">
				<div class="accordion accordion-flush" id="accordion_2">
					<!--PROCEDURE ITEM #2 COLLAPSE #1-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-2_One">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-2_collapseOne" aria-expanded="false"
								aria-controls="item-2_collapseOne">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">6. Анализ технических характеристик</span>
							</button>
						</h2>
						<div id="item-2_collapseOne" class="accordion-collapse collapse" aria-labelledby="item-2_One"
							data-bs-parent="#accordion_2">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-1">Проверка на возможность корректной индексации страниц сайта и их содержимого</li>
									<li class="mb-1">Проверка доступности навигации для роботов поисковых систем
									</li>
									<li class="mb-1">Анализ состояния домена, дата регистрации, история</li>
									<li class="mb-1">Анализ файлов robots.txt</li>
									<li class="mb-1">Анализ карты сайта sitemap.xml</li>
									<li class="mb-1">Анализ и настройка уровней вложенности посадочных страниц</li>
									<li class="mb-1">Анализ URL продвигаемых страниц на наличие вхождения в них продвигаемых запросов</li>
									<li class="mb-1">Проверка работоспособности функционала сайта (фильтры, поиск, формы обратной связи и
										т.п.)</li>
									<li class="mb-1">Проверка на наличие графических изображений, подгружающихся со сторонних ресурсов
									</li>
									<li class="mb-1">Проверка на наличие лишних скриптов и вредоносного кода</li>
									<li class="mb-1">Проверка на наличие внешних ссылок, открытых для индексации</li>
									<li class="mb-1">Анализ верстки сайта, проверка кроссбраузерности сайта в популярных браузерах</li>
									<li class="mb-1">Настройка базовых редиректов</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #2 COLLAPSE #2-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-2_Two">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-2_collapseTwo" aria-expanded="false"
								aria-controls="item-2_collapseTwo">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">7. Анализ контентной составляющей сайта</span>
							</button>
						</h2>
						<div id="item-2_collapseTwo" class="accordion-collapse collapse" aria-labelledby="item-2_Two"
							data-bs-parent="#accordion_2">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Проверка текстов на уникальность на продвигаемых страницах
									</li>
									<li class="mb-1">Проверка текстов на заспамленность</li>
									<li class="mb-1">Проверка на наличие малоконтентных страниц</li>
									<li class="mb-1">Проверка на наличие орфографических ошибок
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #2 COLLAPSE #3-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-2_Three">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-2_collapseThree" aria-expanded="false" aria-controls="item-2_collapseThree">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">8. SEO-требования</span>
							</button>
						</h2>
						<div id="item-2_collapseThree" class="accordion-collapse collapse" aria-labelledby="item-2_Three"
							data-bs-parent="#accordion_2">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Проверка наличия возможности правки важных для оптимизации параметров
									</li>
									<li class="mb-1">SEO-аудит сайта</li>
									<li class="mb-1">Проверка соответствия продвигаемых страниц и сайта в целом требованиям поисковых
										систем</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #2 COLLAPSE #4-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-2_Four">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-2_collapseFour" aria-expanded="false" aria-controls="item-2_collapseFour">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">9. Внутренняя оптимизация сайта</span>
							</button>
						</h2>
						<div id="item-2_collapseFour" class="accordion-collapse collapse" aria-labelledby="item-2_Four"
							data-bs-parent="#accordion_2">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ текущей внутренней оптимизации сайта</li>
									<li class="mb-1">Разработка стратегии внутренней оптимизации ресурса</li>
									<li class="mb-1">Работа с брифом на тексты для посадочных страниц сайта</li>
									<li class="mb-1">Оптимизация метатегов для продвигаемых страниц, составление рекомендаций на
										устранение ошибок по заполнению метатегов на всех страницах сайта</li>
									<li class="mb-1">Анализ главной страницы на наличие важных элементов, блоков</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #2 COLLAPSE #5-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-2_Five">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-2_collapseFive" aria-expanded="false" aria-controls="item-2_collapseFive">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">10. Мониторинг</span>
							</button>
						</h2>
						<div id="item-2_collapseFive" class="accordion-collapse collapse" aria-labelledby="item-2_Five"
							data-bs-parent="#accordion_2">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ изменений алгоритмов поисковых систем
									</li>
									<li class="mb-1">Анализ индексации изменений</li>
									<li class="mb-1">Мониторинг позиций сайта, анализ результатов работ</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!--PROCEDURE ITEM #3-->
			<article class="procedure__item col-12 col-sm-10 col-lg-3 bg-light p-0 px-3 pb-3 border-2 rounded">
				<div class="accordion accordion-flush" id="accordion_3">
					<!--PROCEDURE ITEM #3 COLLAPSE #1-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-3_One">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-3_collapseOne" aria-expanded="false"
								aria-controls="item-3_collapseOne">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">11. Контент-маркетинг и дополнительная оптимизация сайта</span>
							</button>
						</h2>
						<div id="item-3_collapseOne" class="accordion-collapse collapse" aria-labelledby="item-3_One"
							data-bs-parent="#accordion_3">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-1">Анализ информационного трафика и запросов</li>
									<li class="mb-1">Увеличение релевантности посадочных страниц по продвигаемым запросам
									</li>
									<li class="mb-1">Проработка информаций из брифа для написания текстов</li>
									<li class="mb-1">Составление технического задания на написание текстов для копирайтера</li>
									<li class="mb-1">Написание либо редактирование текстов для продвигаемых страниц</li>
									<li class="mb-1">Согласование готовых текстов для посадочных страниц</li>
									<li class="mb-1">Размещение оптимизированного текста на посадочных страницах сайта</li>
									<li class="mb-1">Редактирование структуры посадочных страниц (изменение количества товаров на странице, изменение описаний и названий в товарах, изменение отображаемых блоков на страницах)
										т.п.)</li>
									<li class="mb-1">Внедрение микроразметки на страницы сайта
									</li>
									<li class="mb-1">Реализация внутренней перелинковки с размещенных статей</li>
									<li class="mb-1">Усиление оптимизации заголовков на посадочных страницах
									</li>
									<li class="mb-1">Усиление оптимизации сниппетов посадочных страниц сайта</li>
									<li class="mb-1">Анализ структуры сайта, настройки ЧПУ</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #3 COLLAPSE #2-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-3_Two">
							<button class="accordion-button collapsed border-bottom ps-0 fw-bolder" type="button"
								data-bs-toggle="collapse" data-bs-target="#item-3_collapseTwo" aria-expanded="false"
								aria-controls="item-3_collapseTwo">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">12. Функционал и технические ошибки</span>
							</button>
						</h2>
						<div id="item-3_collapseTwo" class="accordion-collapse collapse" aria-labelledby="item-3_Two"
							data-bs-parent="#accordion_3">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ функционала сайта и представленных разделов, составление рекомендаций
									</li>
									<li class="mb-1">Исправление технических ошибок (устранение дубликатов, исправление ошибок вёрстки, настройка индексации в поисковых системах, устранение битых ссылок, закрытие внешних ссылок от индексации и т.п.)
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #3 COLLAPSE #3-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-3_Three">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-3_collapseThree" aria-expanded="false" aria-controls="item-3_collapseThree">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">13. Веб-аналитика</span>
							</button>
						</h2>
						<div id="item-3_collapseThree" class="accordion-collapse collapse" aria-labelledby="item-3_Three"
							data-bs-parent="#accordion_3">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Анализ конверсионных элементов
									</li>
									<li class="mb-1">Формирование рекомендаций по повышению удобства пользователей</li>
									<li class="mb-1">Анализ посещаемости сайта</li>
									<li class="mb-1">Анализ источников трафика на сайт</li>
									<li class="mb-1">Анализ поискового трафика на сайт</li>
									<li class="mb-1">Анализ индексации сайта</li>
									<li class="mb-1">Мониторинг позиций сайта, анализ результатов работ</li>
									<li class="mb-1">Консультации seo-специалиста по вопросам доработок/развитию сайта</li>
									<li class="mb-1">Корректировка стратегии продвижения (при необходимости)</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #3 COLLAPSE #4-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-3_Four">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-3_collapseFour" aria-expanded="false" aria-controls="item-3_collapseFour">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">14. Технический контроль возможных ошибок</span>
							</button>
						</h2>
						<div id="item-3_collapseFour" class="accordion-collapse collapse" aria-labelledby="item-3_Four"
							data-bs-parent="#accordion_3">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Отслеживание изменения или удаления мета-информации посадочных страниц</li>
									<li class="mb-1">Контроль за нежелательным удалением посадочных страниц</li>
									<li class="mb-1">Отслеживание нежелательного закрытия от индексации посадочных страниц, которые должны быть в индексе</li>
									<li class="mb-1">Контроль наличия посадочных страниц в индексе поисковых систем</li>
									<li class="mb-1">Контроль доступности сайта</li>
									<li class="mb-1">Контроль статуса посадочных страниц</li>
									<li class="mb-1">Отслеживание нежелательных изменений контента на посадочных страницах сайта</li>
									<li class="mb-1">Контроль отсутствия санкций к сайту со стороны поисковых систем</li>
									<li class="mb-1">Отслеживание появления прочих технических ошибок на сайте, влияющих на видимость сайта</li>
								</ul>
							</div>
						</div>
					</div>
					<!--PROCEDURE ITEM #3 COLLAPSE #5-->
					<div class="accordion-item">
						<h2 class="accordion-header" id="item-3_Five">
							<button class="accordion-button collapsed  ps-0 fw-bolder" type="button" data-bs-toggle="collapse"
								data-bs-target="#item-3_collapseFive" aria-expanded="false" aria-controls="item-3_collapseFive">
								<img src="img/check2-square.svg" alt="icon" class="me-2 ms-0">
								<span class="w-75">15. Отчётность</span>
							</button>
						</h2>
						<div id="item-3_collapseFive" class="accordion-collapse collapse" aria-labelledby="item-3_Five"
							data-bs-parent="#accordion_3">
							<div class="accordion-body">
								<ul class="procedure__list ms-2">
									<li class="mb-2">Отчёт о посещаемости сайта</li>
									<li class="mb-1">Отчёт об источниках трафика</li>
									<li class="mb-1">Отчёт о трафике из поисковых систем</li>
									<li class="mb-1">Отчёт по позициям сайта</li>
									<li class="mb-1">Отчёт по seo-показателям сайта и рекомендации</li>
									<li class="mb-1">Отчёт по техническим ошибкам и рекомендации</li>
									<li class="mb-1">Отчёт по анализу структуры сайта и рекомендации</li>
									<li class="mb-1">Отчёт по контентной составляющей ресурса и рекомендации</li>
									<li class="mb-1">Отчёт по анализу соответствия посадочных страниц требованиям поисковых систем и рекомендации</li>
									<li class="mb-1">Отчёт по статусам исправления обнаруженных ошибок в рамках работ по продвижению</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>