<section id="team" class="team container-fluid mt-5 mb-0 pt-5 pb-0">
	<!--TEAM TITLE-->
	<div class="team__head container h-100 mb-4">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="team__title mb-4 fs-2 fw-bolder text-center">Наша команда</h2>
				<p class="team__subtitle fs-3 text-center">Кто именно работает над вашим проектом</p>
			</div>
		</div>
	</div>
	<!--TEAM INFO-->
	<div class="team__info container">
		<div class="row justify-content-between">
			<article class="team__article col-12 col-md-6">
				<div class="team__chapter mb-5">
					<h4 class="team__chapter-title mb-3">Менеджер проектов</h4>
					<p  class="team__chapter-text">Ответственное лицо. В курсе всех нюансов. Непосредственно напрямую общается с заказчиком.</p>
				</div>
				<div class="team__chapter mb-5">
					<h4 class="team__chapter-title mb-3">Бизнес-аналитик</h4>
					<p  class="team__chapter-text">По указанию менеджера проектов анализирует бизнес заказчика, конкурентов, нишу. Видит тренды. Подмечает важные детали. Составляет рекомендации на основе проведённого анализа и передаёт их менеджеру проектов.</p>
				</div>
				<div class="team__chapter mb-5">
					<h4 class="team__chapter-title mb-3">Отдел SEO</h4>
					<p  class="team__chapter-text">Менеджер проектов согласовывает полученные от бизнес-аналитика рекомендации с заказчиком. С его одобрения передаёт работу дальше, в этот отдел. Здесь на разных этапах в проект уже включаются программист, верстальщик, дизайнер, копирайтер, корректор, SEO оптимизатор. Результат работы передаётся менеджеру проектов.</p>
				</div>
				</article>
			<article class="team__figure col-12 col-md-6">
				<picture>
					<source media="(max-width: 800px)" srcset="img/team_4.png">
					<source media="(min-width: 801px)" srcset="img/team_2.png">
					<img src="img/team_2.png" class="img img-fluid w-100 h-100" alt="SEO TEAM">
				</picture>
			</article>
		</div>
	</div>
</section>