.faq {
	//background:linear-gradient(90deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%), url("../img/seo/seo-2.jpg") center / cover no-repeat;
	margin-top: -3rem !important;
	&__article {
		background-color: rgba(0, 20, 45, 0.85);
	}
	&__article, &__article .accordion-button {
		color: #fff;
	}
	&__article .accordion-collapse {
		transition: all 0.4s;
	}
	.accordion-button:not(.collapsed) {
		color:#fff !important;
		background-color: transparent;
		border-color: transparent !important;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
	.accordion-button::after {
		background-image: url("../img/chevron-down-white.svg");
		transition: all 0.4s;
	}
	.accordion-button:not(.collapsed)::after {
		background-image: url("../img/chevron-down-white.svg");
	}
}

@media screen and (max-width: 576px) {
	.faq {
		//background:linear-gradient(90deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.75) 100%), url("../img/seo/seo-2-min.jpg") center / cover no-repeat;
	}
}