.footer {
	background-color: rgba(0, 20, 45, 0.55);
	&__logo-img {
		max-width: 150px !important;
		min-width: 100px !important;
		height: 70px;
	}
	&__contact-link {
		width: fit-content;
		color: rgb(0, 20, 45);
		text-decoration: none;
		&:hover {
			color: rgb(0, 20, 45);
		}
		img {
			width: 25px;
			height: 25px;
		}
	}

	&__social-link {
		img {
			width: 25px;
			height: 25px;
		}
	}
	&__logo-img img {
		width: 100%;
		height: 100%;
		object-position: center;
		object-fit: fill;
	}
}