.video-block {
	&__container {
		width: 65%;
		height: 65%;
		max-width: calc(16 / 9 * 100vh);
	}
	&__item {
		padding-bottom: 56.25%;
  	position: relative;
	}
	&__frame {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width:1200px) {
	.video-block {
		&__container {
			width: 80%;
			height: 80%;
		}
	}
}

@media screen and (max-width:992px) {
	.video-block {
		&__container {
			width: 90%;
			height: 90%;
		}
	}
}

@media screen and (max-width:576px) {
	.video-block {
		&__container {
			width: 100%;
			height: 100%;
		}
	}
}